name: Databricks Deployment

on:
  push:
    branches:
      - main

permissions:
  id-token: write
  contents: read

jobs:
  deploy:
    runs-on: ubuntu-latest
    env:
      DATABRICKS_HOST: https://adb-7405614454563413.13.azuredatabricks.net
      DATABRICKS_TOKEN: ${{ secrets.DATABRICKS_TOKEN }}
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      # Add Databricks CLI setup step here if needed
      # - name: Install Databricks CLI
      #   uses: databricks/setup-cli@v2

      - name: Deploy Bundle
        run: databricks bundle deploy -t prod